<!DOCTYPE html>
<html ng-app="PostListing">
  <head>
    <meta charset="utf-8">
    <title>SPOTTED // SPOTTED // SPOTTED // SPOTTED </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/css/styles.css">
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-cookies.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" charset="utf-8"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHlTZWZG8iPbFfII-FJ7N0fV3D1x_7Uiw"></script>
  <script src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclusterer/1.0/src/data.json" type="text/javascript"></script>
  <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclusterer/1.0/src/markerclusterer.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js"></script>
  <script src="/js/script.js" charset="utf-8"></script>
  <script src="/js/app.js" charset="utf-8"></script>
  </head>
  <body>
    <!-- navbar info -->
    <div class="cover" onclick="toggleSidenav();"></div>
    <div class="hamburger" id="hamburger" onclick="toggleSidenav();">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <nav>
      <div class="logo">
        <img src="http://lorempixel.com/128/128/animals/"/>
        <br>
        Spotted!
      </div>
      <div class="links">
        <a class="active" href="#home">Home</a>
        <a href="#concept">Concept</a>
        <a href="#spotted">Spot & contribute</a>
        <a href="#" ng-show="token">View all</a>
      </div>
      <footer>
        <p>website by <a href="http://sophieadams.me/" target="new">Sophie Adams</a></p>
      </footer>
    </nav>
    <!-- navbar end -->
    <!-- content -->
    <div class="main" ng-controller='UsersController'>

      <!-- welcome screen -->
      <section class="home" id="home">
        <h1>spotted</h1>
      </section>

      <!-- concept -->
    <section>
      <!-- <div class="meta-information">
          {{ welcome }}
      </div> -->
      <div class="concept" id="concept" style="text-align: center;">
        <h1 class="insetshadow">concept</h1>
        <br>
        spotted is a place to save peishable goods from going to waste.
        <br>
        before disposing of usable or excess materials, food or other consumable
        <br>
         items, consider sharing their location so that someone might take them off your hands.. for free.
        <br>

        <br>

        <br>

        <br>

        <ul class="averageList">
          <li class="averageListInfo">
            AVG W WASTE REMOVAL
            <br>
            <span>$174 - $374</span>
          </li>
          <li>
            - vs -
          </li>
          <li class="averageListInfo">
            AVG SPENT W SPOTTED!
            <br>
            <span>$0 (FREE)</span>
          </li>
        </ul>

        <br>

        <br>

        <br>
      </div>
      <ul style="padding: 0;">
        <li>
      <div ng-hide="token" class="input-container">
        <h3 class="signup-info">sign up:</h3>
        <form name="form" ng-submit="createUser()">
        <fieldset class="user-fieldset">
          <p id="first-input-wrap">
          <input type="text" ng-model="newUser.username" placeholder="...username">
          </p>
          <p id="first-input-wrap">
          <input type="password" ng-model="newUser.password" placeholder="...password">
          </p>
          <input type="submit" class="submit">
        </fieldset>
        </form>
      </div>
    </li>
    <br>

    <br>
    <li>
      <div ng-hide="token" class="input-container">
        <h3 class="signup-info">log in:</h3>
        <form ng-submit="obtainToken()">
        <fieldset class="user-fieldset">
          <p id="first-input-wrap">
          <input type="text" ng-model="logInUser.username" placeholder="...username">
          </p>
          <p id="first-input-wrap">
          <input type="password" ng-model="logInUser.password" placeholder="...password">
          </p>
          <input type="submit" class="submit">
        </fieldset>
        </form>
      </div>
    </li>
    <li>
      <button type="button" ng-show="token" ng-click="logOut()" name="button" class="logOutButton"><h1 class="insetshadow">log out</h1></button>
      <br>

      <br>
      <div class="logOut" ng-show="token"></div>

      <br>
      <h2>join us today</h2>
    </LI>
  </UL>
    </section>

      <section id="spotted">
        <h1 class="insetshadow">recently listed</h1>
          <br>
          <br>
          instead of paying for waste pickup, perhaps there is someone who might be looking
          <br>
           for exactly what you're getting rid of.
          <br>
          <br>
        <div id="map"></div>
          <br>

          <br>

          <h1 class="insetshadow">help save the planet & feed the hungry!</h1>
            <div ng-show="token" class="input-container">
              <h3 class="signup-info">new listing:</h3>
              <form ng-submit="createPost()" name="myForm">
                  <fieldset class="user-fieldset">
                <p id="first-input-wrap">
                <input ng-model="newPost.item" type="text" placeholder="post title">
              </p>
                <ul>
                  <li ng-repeat="detail in newPost.details">
                    <p id="second-input-wrap">
                      <input type="text" ng-model="detail.name" placeholder="type of good">
                    </p>
                    <p id="third-input-wrap">
                      <input type="text" ng-model="detail.age" placeholder="must be removed by">
                    </p>
                    <p id="fourth-input-wrap">
                    <input type="text" ng-model="detail.info" placeholder="info on the goods">
                  </p>
                  </li class="latInput">
                  <li ng-repeat="geoindex in newPost.geoindex">
                      <small>
                        to confirm your location and that you are a human,<br>
                        please copy and paste your location into the appropriate fields:
                      </small>
                      <hr>
                        <big>
                          <span id="findMe">locate me!</span>
                        </big>
                        <br>
                      <p id="fifth-input-wrap" style="display: inline-block">
                      <div id="lat" class="averageListInfo" style="display: inline-block">LAT</div> > <input ng-model="geoindex.lat" type="text" placeholder="LAT HERE" name="lat">
                      </p>
                      <br>
                      <p id="sixth-input-wrap">
                        <div id="lon" class="averageListInfo" style="display: inline-block">LON</div> > <input ng-model="geoindex.lon" type="text" placeholder="LON HERE" name="lon" required="yes" aria-required="true" required>
                      </p>
                  </li>

                    <!-- <input type="text" ng-model="detail.etc" placeholder="Bio!"> -->

                    <!-- <button type="button" ng-click="addPostLocation()"></button> -->
                  </li>
                </ul>
                <input ng-click="addText()" type="submit" class="submit">
              </fieldset>
              </form>
            </div>
            <br>

      </section>
      <section ng-show="token">
      <div>
<!--
      {{ post.item }} <button type="button" ng-click='removePost(post)' name="button">ByBye</button>
      <ul>
        <li ng-repeat="detail in post.details">
          <br>
          {{ detail.name }}
          <br>
          {{ detail.age }}
          <br>
          {{ detail.info }}
        </li>
        <li ng-repeat="geoindex in post.geoindex">
          {{ geoindex.lat }}
          <br>
          {{ geoindex.lon }}
          <br>
        </li>
      </ul> -->
      <h1 class="insetshadow">all available goods:</h1>
      <br>
      <div class="input-container">
        <p id="first-input-wrap">
        <input type="text" name="searchBox" class="searchBox" placeholder="enter search terms here" ng-model="searchQuery">
      </p>
    </fieldset>
    </div>
        <br>
        <div ng-repeat="post in posts | filter:searchQuery | orderBy:orderByField:reverse" class="spottedList">

          <div class="allGoods">
          <h2>{{ post.item }}</h2>
           <button type="button" ng-click='removePost(post)' name="button" class="redeemed">STILL<br><b class="small">AVAILABLE</b></button>
          <ul>
            <li ng-repeat="detail in post.details" style="display: inline-block;">
              <br>
              available: {{ detail.name }}
              <br>
              must be retrieved by: {{ detail.age }}
              <br>
              details: {{ detail.info }}
            </li>
            <!-- <li ng-repeat="geoindex in post.geoindex">
              {{ geoindex.lat }}
              <br>
              {{ geoindex.lon }}
              <br>
            </li> -->
          </ul>
        </div>

        </div>
      <!-- <div ng-repeat="user in users " ng-show="token">
        <div class="username"><h4 class="title">{{ user.username }}</h4></div>
        <ul class="animal-list">
          <li ng-repeat="post in user.posts | filter:searchQuery | orderBy:orderByField:reverse">
          <p>
            <div class="animal-name"><h1 class="animal-header">{{ post.topic }}</h1></div>
            <ul class="details">
              <li ng-repeat="detail in post.details">
                <br>
                {{ detail.age }}
                <br>
                {{ detail.contact }}
                <br>
                {{ detail.number }}
                <br>
                {{ detail.emergency }}
                <br>
                {{ detail.allergy }}
                <br>
                {{ detail.other }}
                <br>
                {{ detail.etc }}
                <br>
              </li>
            </ul>
          </p>
        </li>
        </ul>
      </div> -->
    </div>
  </section>
        <!-- <script src="/js/app.js" charset="utf-8"></script> -->
        <script src="/js/chart.js" charset="utf-8"></script>
  </body>
</html>
